div#app
//- div#main
//- 	header#main-header
//- 	section#title
//- 		h1 Coupons & Deals near You
//- 		h2 +3,600 MATCHES FOUND
//- 	section#card-holder
//- 		ul.cards
//- 			li.card
//- 				header.card-header
//- 					p.city Bellevue, WA
//- 					p.range 3.3 mi
//- 				section.business-info
//- 					div.hero(style="background-image: url(assets/tile1-main.jpg);")
//- 					a.logo(style="background-image: url(assets/tile1-logo.jpg);")
//- 					h4 Nutritionists
//- 					a.business
//- 						h3 Sound Nourishment Nutritional Counseling
//- 				section.deals
//- 					ul
//- 						li 
//- 							p 20% off Regular Price for Cash-Paying Clients
//- 						li 
//- 							p Refer a Friend, Get 25% Off Next Visit
//- 			li.card
//- 				header.card-header
//- 					p.city Seattle, WA
//- 					p.range 12.9 mi
//- 				section.business-info
//- 					div.hero(style="background-image: url(assets/tile2-main.jpg);")
//- 					a.logo(style="background-image: url(assets/tile2-logo.jpg);")
//- 					h4 Indian Restaurants
//- 					a.business
//- 						h3 Maharaja Cuisine of India
//- 				section.deals
//- 					ul
//- 						li 
//- 							p $15 certificate for $6 A 60% Savings!
//- 						li 
//- 							p $25 certificate for $10 A 60% Savings!
//- 						li
//- 							p See All
//- 								span 4
//- 			li.card
//- 				header.card-header
//- 					p.city Seattle, WA
//- 					p.range 8.4 mi
//- 				section.business-info
//- 					div.hero(style="background-image: url(assets/tile3-main.jpg);")
//- 					a.logo(style="background-image: url(assets/tile3-logo.jpg);")
//- 					h4 Toy Store
//- 					a.business
//- 						h3 Toys R Us
//- 				section.deals
//- 					ul
//- 						li 
//- 							p 15% OFF all Bathtubs & Bath Accessories
//- 						li 
//- 							p 20% OFF all Humidifiers Vaporizers & Air Purifiers
